{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Report list</h1>

        Here is the list of reports available:
        <ul id="report-list">
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script> const rawData = [{{ reports|map(r => r.payload)|join(',')|raw }}];</script>
    <script src="https://cdn.jsdelivr.net/pako/1.0.3/pako.min.js"></script>
    <script src="{{ asset('js/base58.js') }}"></script>
    <script src="{{ asset('js/cipher.js') }}"></script>
    <script src="{{ asset('js/viewer.js') }}"></script>
{% endblock %}